.contentWrapper {
  height: 100%;
}
.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  box-sizing: border-box;
}
.wrapper.hasTabWrapper {
  padding: 15px;
  box-sizing: border-box;
}
.wrapper.hasTabWrapper .content {
  background-color: #fff;
  border: 1px solid #e1e1e1;
  padding: 15px;
}
.wrapper .tabWrapper {
  display: flex;
  margin-top: 1px;
}
.wrapper .tabWrapper div {
  margin-right: 1px;
  position: relative;
  margin-right: 5px;
}
.wrapper .tabWrapper div a {
  padding: 8px 25px 8px 15px;
  display: block;
  border-radius: 3px 3px 0 0;
  background-color: #edf2f4;
  border-bottom: 0;
  position: relative;
  color: #333;
  border: 1px solid #edf2f4;
  border-bottom: 1px solid #e1e1e1;
  top: 1px;
}
.wrapper .tabWrapper div a.active {
  background-color: #fff;
  border-color: #e1e1e1;
  border-bottom: 1px solid #fff;
  color: #1677FF;
}
.wrapper .tabWrapper div a:hover {
  color: #53A0FD;
}
.wrapper .tabWrapper div .close {
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 10px;
  font-size: 12px;
  text-align: center;
  display: block;
  border-radius: 100%;
  font-style: normal;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.3);
}
.wrapper .tabWrapper div .close:hover {
  color: #01aeec;
}
.wrapper .content {
  flex: 1;
}
